<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express CRUD</title>
</head>
<style>
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<body>
  <h2>Subject <%- enrolled.name %></h2>
  <hr>
  <table>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <% enrolled.Students.forEach(function(student){ %>
        <tr>
          <td><%- student.firstName + ' ' + student.lastName %></td>
          <td><%- student.StudentSubject.StudentScore %></td>
        </tr>
    <% }); %>
  </table>
  <br>
</body>
</html>