<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="table">
    <div style="text-align: center">
        <h2>Input Score</h2>
    </div>
    <form action="/subjects/<%= studentData.SubjectId%>/<%= studentData.StudentId%>/givescore" method="POST" style="text-align: center">
        <input type="text" name="Score">
        <input type="submit" value="submit">
    </form>
</body>
</html>